<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WallInfoMapper">

	<resultMap id="WallInfo" type="com.xxl.core.model.main.WallInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.`status`,
		t.source,
		t.user_id,
		t.content,
		t.image,
		t.create_time
	</sql>

	<select id="query" parameterType="java.util.HashMap" resultMap="WallInfo">
		SELECT
		<include refid="Base_Column_List" />
		FROM wall_info AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="content != null and content != '' ">
				and t.content like CONCAT('%',#{content},'%')
			</if>
		</trim>
		order by t.create_time desc
		LIMIT #{offset, jdbcType=INTEGER}, #{pagesize, jdbcType=INTEGER}
	</select>
	
	<select id="queryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
		SELECT count(1)
		FROM wall_info AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="content != null and content != '' ">
				and t.content like CONCAT('%',#{content},'%')
			</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.xxl.core.model.main.WallInfo">
		INSERT INTO wall_info (id, `status`, source, user_id, content, image, create_time)
		VALUES(#{id}, #{status}, #{source}, #{userId}, #{content}, #{image}, sysdate())
	</insert>

	<delete id="del" parameterType="java.util.HashMap">
		DELETE
		FROM wall_info
		WHERE id in
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</delete>

	<update id="udpate" parameterType="com.xxl.core.model.main.WallInfo">
		UPDATE wall_info t
		SET t.`status` = #{status},
			t.content = #{content},
			t.image = #{image}
		WHERE id = #{id}
	</update>

	<update id="freshDate">
		delete from wall_info 
	</update>
	<update id="freshIncrement">
		alter table wall_info auto_increment=1;
	</update>

</mapper>