<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMenuMapper">
	
	<resultMap id="ArticleMenu" type="com.xxl.core.model.main.ArticleMenu" >
	    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
	    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
	    <result column="order" property="order" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="desc" property="desc" jdbcType="VARCHAR" />
	    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
		<collection column="menu_id" property="children" select="ArticleMenuMapper.getByParentId"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		t.menu_id,
		t.parent_id,
		t.`order`,
		t.`name`,
		t.`desc`,
		t.click_count
	</sql>
	
	<select id="getByParentId" parameterType="java.lang.Integer" resultMap="ArticleMenu">
		SELECT	<include refid="Base_Column_List" />
		FROM article_menu AS t
		WHERE t.parent_id = #{parentId}
		order by t.`order`
	</select>
	
	<select id="getByMenuId" parameterType="java.lang.Integer" resultMap="ArticleMenu" >
		select <include refid="Base_Column_List" />
		from article_menu t
		where t.menu_id = #{menuId}
	</select>
	
</mapper>