<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleGroupMapper">
	
	<resultMap id="ArticleGroup" type="com.xxl.blog.core.model.ArticleGroup" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
	    <result column="order" property="order" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="desc" property="desc" jdbcType="VARCHAR" />
		<collection column="id" property="children" select="ArticleGroupMapper.getByParentId"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id,
		t.parent_id,
		t.`order`,
		t.`name`,
		t.`desc`
	</sql>

	<insert id="add" parameterType="com.xxl.blog.core.model.ArticleGroup" >
		INSERT INTO xxl_blog_user (
			parent_id,
			order,
			name,
			desc
		)
		VALUES
		(
			#{parentId},
			#{order},
			#{name},
			#{desc}
		)
	</insert>

	<update id="update" parameterType="com.xxl.blog.core.model.ArticleGroup" >
		UPDATE xxl_blog_user
		SET parent_id = #{parentId},
			`order` = #{order},
			`name` = #{name},
			`desc` = #{desc}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM xxl_blog_user
		WHERE id = #{id}
	</delete>
	
	<select id="getByParentId" parameterType="java.lang.Integer" resultMap="ArticleGroup">
		SELECT	<include refid="Base_Column_List" />
		FROM xxl_blog_article_group AS t
		WHERE t.parent_id = #{parentId}
		order by t.`order` ASC
	</select>

	<select id="load" parameterType="java.lang.Integer" resultMap="ArticleGroup">
		SELECT	<include refid="Base_Column_List" />
		FROM xxl_blog_article_group AS t
		WHERE t.id = #{id}
	</select>

</mapper>