@CHARSET "UTF-8";
body{background:#c0c0c0;/*margin-top:50px;*/}

/* 导航栏.hover弹出 */
.navbar .nav > li .dropdown-menu {margin: 0;}
.navbar .nav > li:hover .dropdown-menu {display: block;}

/* bottom样式 */
.footerlinks { padding:22px 0 18px; background:#3a3a3a; color:#969ba4;font-size:13px; }
.footerlinks ul li { display:inline-block }
.footerlinks ul li a { color:#969ba4; }
.footerlinks ul li a:hover { color:#f9f9f9 }
.footerlinks ul li:first-child a { padding-left:0px }
.footerlinks .info { text-align: center;margin:0 auto; }

