<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminRoleMapper">
	
	<resultMap id="AdminRole" type="com.xxl.core.model.main.AdminRole" >
	    <id column="role_id" property="roleId" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="order" property="order" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.role_id,
		t.`name`,
		t.`order`
	</sql>
	
	<select id="getRole" parameterType="java.util.HashMap" resultMap="AdminRole">
		SELECT <include refid="Base_Column_List" />
		FROM admin_role AS t
		WHERE t.role_id = (
			SELECT role_id 
			FROM admin_user_role 
			WHERE user_id = #{userId, jdbcType=INTEGER}
				and role_id = #{roleId, jdbcType=INTEGER}
		)
	</select>
	
	<select id="getAllRole" resultMap="AdminRole">
		SELECT <include refid="Base_Column_List" />
		FROM admin_role AS t
		ORDER BY `order`
	</select>
	
	<insert id="roleAdd" parameterType="java.util.HashMap" >
		INSERT INTO admin_role(`name`, `order`)
		VALUES (#{name, jdbcType=VARCHAR}, #{order, jdbcType=INTEGER} )
	</insert>
	
	<delete id="roleDel" parameterType="java.util.HashMap" >
		DELETE FROM admin_role
		WHERE role_id in
		<foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<update id="roleUpdate">
		UPDATE admin_role 
		SET `name` = #{name, jdbcType=VARCHAR},
			`order` = #{order, jdbcType=VARCHAR}
		WHERE role_id = #{roleId, jdbcType=INTEGER}
	</update>
	
	<select id="ifRelUser" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
		select count(1) from admin_user_role 
		where role_id = #{roleId, jdbcType=INTEGER}
	</select>
	
	<delete id="roleMenuDel" parameterType="java.util.HashMap">
		delete from admin_role_menu
		where role_id in 
		<foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<select id="getRoleById" parameterType="java.lang.Integer" resultMap="AdminRole">
		SELECT <include refid="Base_Column_List" />
		FROM admin_role AS t
		WHERE t.role_id = #{roleId, jdbcType=INTEGER}
		ORDER BY `order`
	</select>
	
	<select id="getRoleByUserId" parameterType="java.lang.Integer" resultMap="AdminRole">
		SELECT <include refid="Base_Column_List" />
		FROM admin_role AS t
		WHERE t.role_id in (
			select role_id 
			from admin_user_role
			where user_id = #{userId}
		)
		ORDER BY `order`
	</select>
	
	<insert id="roleMenusAdd" parameterType="java.util.HashMap" >
		INSERT INTO admin_role_menu(role_id, menu_id)
		VALUES
		<foreach collection="addMenudIds" item="item" index="index" separator="," >  
        	(#{roleId}, #{item})  
    	</foreach>
	</insert>
	
	<delete id="roleMenusDel" parameterType="java.util.HashMap" >
		DELETE FROM admin_role_menu
		WHERE role_id = #{roleId} and 
			menu_id in
			<foreach collection="delMenudIds" index="index" item="item" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</delete>
	
</mapper>