<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleInfoMapper">
	
	<resultMap type="com.xxl.core.model.main.ArticleInfo" id="ArticleInfo" >
	    <id column="article_id" property="articleId" jdbcType="INTEGER" />
	    <result column="user_id" property="userId" jdbcType="INTEGER" />
	    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
	    <result column="state" property="state" jdbcType="INTEGER" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="content" property="content" jdbcType="TIMESTAMP" />
	    <result column="create_time" property="createTime" jdbcType="INTEGER" />
	    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.article_id,
		t.user_id,
		t.menu_id,
		t.state,
		t.title,
		t.content,
		t.create_time,
		t.click_count
	</sql>
	
	<select id="selectList" parameterType="java.util.HashMap" resultMap="ArticleInfo">
		SELECT <include refid="Base_Column_List" />
		FROM article_info AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="title != null and title != '' ">
				and t.title like CONCAT('%',#{title},'%')
			</if>
			<if test="menuId > 0">
				and t.menu_id = #{menuId}
			</if>
		</trim>
		LIMIT #{offset, jdbcType=INTEGER}, #{pagesize, jdbcType=INTEGER}
	</select>
	
	<select id="selectListCount" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
		SELECT count(1)
		FROM article_info AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="title != null and title != '' ">
				and t.title like CONCAT('%',#{title},'%')
			</if>
			<if test="menuId > 0">
				and t.menu_id = #{menuId}
			</if>
		</trim>
	</select>
	
	<insert id="insert" parameterType="com.xxl.core.model.main.ArticleInfo" >
		insert into article_info(user_id, menu_id, state, title, content, create_time, click_count )
		values(#{userId}, #{menuId}, #{state}, #{title}, #{content}, sysdate(), 0)
	</insert>
	
	<delete id="delete" parameterType="java.util.HashMap" >
		DELETE FROM article_info
		WHERE article_id in
			<foreach collection="articleIds" index="index" item="item" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</delete>

	<update id="update" parameterType="com.xxl.core.model.main.ArticleInfo">
		UPDATE article_info
		<trim prefix="SET" suffixOverrides=",">
			state = #{state},
			menu_id = #{menuId},
			<if test="title != null and title!='' ">
				title = #{title},
			</if>
			<if test="content != null and content !='' ">
				content = #{content},
			</if>
		</trim>
		WHERE article_id = #{articleId}
	</update>
	
	<select id="selectByMenuIdCount" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
		SELECT count(1)
		FROM article_info
		where menu_id = #{menuId}
	</select>
	
</mapper>