<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemParamMapper">

	<resultMap id="SystemParam" type="com.xxl.core.model.main.SystemParam">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.key,
		t.value,
		t.title
	</sql>

	<select id="load" parameterType="java.lang.String" resultMap="SystemParam">
		SELECT
		<include refid="Base_Column_List" />
		FROM system_param AS t
		WHERE t.key = #{key}
	</select>
	
	<insert id="save" parameterType="com.xxl.core.model.main.SystemParam">
		INSERT INTO system_param (key, value, title) 
		VALUES (#{key}, #{value}, #{title});
	</insert>
	
	<update id="update" parameterType="com.xxl.core.model.main.SystemParam" >
		UPDATE system_param
		SET value = #{value},
			title = #{title}
		WHERE id = #{id}
	</update>
	
</mapper>