<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMainMapper">
	
	<resultMap id="UserMain" type="com.xxl.core.model.main.UserMain" >
	    <id column="user_id" property="userId" jdbcType="INTEGER" />
	    <result column="email" property="email" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="user_token" property="userToken" jdbcType="VARCHAR" />
	    <result column="real_name" property="realName" jdbcType="VARCHAR" />
	    <result column="state" property="state" jdbcType="INTEGER" />
	    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		t.user_id,
		t.email,
		t.`password`,
		t.user_token,
		t.real_name,
		t.state,
		t.reg_time
	</sql>
	
	<insert id="insert" parameterType="java.util.HashMap" >
		INSERT INTO user_main (email, `password`, state, reg_time)
		VALUES (#{email}, #{password}, #{state}, SYSDATE() )
	</insert>
	
	<select id="getByEmailPwd" parameterType="java.util.HashMap" resultMap="UserMain">
		SELECT	<include refid="Base_Column_List" />
		FROM user_main AS t
		WHERE t.email = #{email} and t.`password` = #{password}
	</select>
	
	<select id="getByEmail" parameterType="java.lang.String" resultMap="UserMain">
		SELECT	<include refid="Base_Column_List" />
		FROM user_main AS t
		WHERE t.email = #{email}
	</select>
	
	<select id="getById" parameterType="java.lang.Integer" resultMap="UserMain">
		SELECT	<include refid="Base_Column_List" />
		FROM user_main AS t
		WHERE t.user_id = #{userId}
	</select>
	
	<update id="updateState" parameterType="java.util.HashMap" >
		UPDATE user_main
		SET state = #{state}
		WHERE user_id = #{userId}
			and state != #{state}
	</update>
	
</mapper>